.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  width: auto;
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  align-items: center;
	justify-content: space-between;
	margin: 30px 80px 0px 80px;
  font-size: calc(10px + 1vmin);

  .logo {
    display: flex;
    width: 210px;
  }

  .navbar {
    display: flex;
    align-items:end;
    justify-content: space-around;

    .navbar__link {
      height: 20px;
      margin-left: 50px;
      display: flex;
      color: #FF6060;
      text-decoration: none;
      border-bottom: 1px solid #ffffff;
    }

    .navbar__link--active {
      border-bottom: 1px solid #FF6060;
    }
  }
}

.App-body {
  background-color: #ffffff;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.App-body img {
  width: 100%; ///
  height: 133px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  object-fit: cover;
}

.App-footer {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
}

.App-footer img {
  margin-top: 25px;
  width: 122px;
}

.App-link {
  display: flex;
  color: #FF6060;
  text-decoration: none;
}

.App-margin-default {
  margin: 139px 0px 139px 0px;
}

.App-color {
  color: #FF6060;
}

.App-font-size-xs {
  font-size: 18px;
}

.App-font-size-s {
  font-size: 36px;
}

.App-font-size-xxl {
  font-size: 288px;
}

.App-font-weight-700 {
  font-weight: 700;
}

.dropdown {
  display: flex;
  flex-direction: column;

  padding-left: 80px;
  padding-right: 120px;
  .dropdown__title {
    display: flex;
    background-color: #FF6060;
    color: #FFFFFF;

    margin-bottom: 10px;
    list-style-type: none;
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
  }
  .dropdown__title p {
    width: 100%;
    margin: 0px;
  }
  .dropdown__button {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
  }
  .dropdown__content {

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
