.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  width: auto;
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  align-items: center;
	justify-content: space-between;
	margin: 30px 100px 0px 100px;
  font-size: calc(10px + 1vmin);

  .logo {
    display: flex;
    width: 210px;
  }

  .navbar {
    display: flex;
    align-items:end;
    justify-content: space-around;

    .navbar__link {
      height: 20px;
      margin-left: 50px;
      display: flex;
      color: #FF6060;
      text-decoration: none;
      border-bottom: 1px solid #ffffff;
    }

    .navbar__link--active {
      border-bottom: 1px solid #FF6060;
    }
  }
}

.App-body {
  width: auto;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.banner {
  background-color: #000000;
  position: relative;
  width: auto;
  height: 223px;
  border-radius: 26px;
}

.banner img {
  width: 100%;
  height: 223px;
  object-fit: cover;
  color:#00000025;
  border-radius: 26px;
  opacity: 0.6;
}

.banner p {
  width: 100%;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-size: 48px;
  text-align: center;
}

.App-body .bannerHigh {
  width: 100%; ///
  height: 415px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  object-fit: cover;
}

.App-body a {
  text-decoration: none;
}

.App-footer {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
}

.App-footer img {
  margin-top: 25px;
  width: 122px;
}

.App-link {
  display: flex;
  color: #FF6060;
  text-decoration: none;
}

.App-margin-default {
  margin: 139px 0px 139px 0px;
}

.App-color {
  color: #FF6060;
}

.App-font-size-xs {
  font-size: 18px;
}

.App-font-size-s {
  font-size: 36px;
}

.App-font-size-xxl {
  font-size: 288px;
}

.App-font-weight-700 {
  font-weight: 700;
}

.logementWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  grid-auto-rows: minmax(auto, auto);
  background-color: #e4e4e4;
  
  padding: 60px 60px 60px 60px;
}

.logement {
  aspect-ratio: 1;
  //margin: 50px 50px 50px 50px;
  padding: 20px 20px 20px 20px;
  background-image: linear-gradient(#FF6060, #863434);
  color: white;
  display: flex;
  
  justify-content:flex-start;
  align-items: flex-end;

  border-radius: 5px;
}

// En cours

.card {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
 }

.about {
 padding: 0px;
 margin: 40px 90px;
}

.dropdown {
  margin: 0px;
  padding: 0px;

  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 30px;

  //Propriétés
}

.card .dropdown{
  width: 50%;
}

.about .dropdown {
  width: auto;
}

.dropdown li {

}

.dropdown p {
  margin: 0px;
}

.dropdown .head {
  width: auto;
  height: auto;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 6px;
}

.card .dropdown .head {
  padding: 16px 12px 16px 12px;
  border-radius: 10px;
}

.about .dropdown .head {
  padding: 10px 16px 10px 16px;
  border-radius: 6px;
}

.card .dropdown .title {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.about .dropdown .title {
  font-size: 26px;
}

.dropdown .button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown .content {
  display: flex;
    font-size: 18px;
    background-color: #F6F6F6;
    list-style-type: none;
    color: #ff8181;
    padding: 20px 20px 20px 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.host-picture {
  border-radius: 100%;
}

.text-center {
  display: flex;
  justify-content: center;
}

.text-blue {
  color: blue;
}

/*.card-dropdown title {
  display: flex;
  background-color: #FF6060;
  color: #FFFFFF;

  margin-top: 10px;
  list-style-type: none;
  padding: 20px 20px 20px 20px;
  border-radius: 14px;
}

.card-dropdown button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-dropdown content {
  display: flex;
  background-color: #FF6060;
  color: #FFFFFF;

  margin-top: 10px;
  list-style-type: none;
  padding: 20px 20px 20px 20px;
  border-radius: 14px;
}

// Fin

/* Base fonctionnelle
.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  padding-left: 80px; //80px
  padding-right: 80px;

  .dropdown__center {
    padding-left: 80px;
  }

  .dropdown__element {
    display: flex;
    background-color: #FF6060;
    color: #FFFFFF;

    margin-top: 10px;
    list-style-type: none;
    padding: 20px 20px 20px 20px;
    border-radius: 14px;
  }

  .dropdown__element p {
    width: 100%;
    margin: 0px;
  }
  .dropdown__button {
    min-width: 9%;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
  }
  .dropdown__content {
    font-size: 18px;
    background-color: #F6F6F6;
    list-style-type: none;
    color: #ff8181;
    padding: 20px 20px 20px 20px;
    .dropdown__content--red {
    }
  }
}
*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
